.cta-container {
  margin: 50px 0;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  padding: 20px 150px;
  text-align: center;

}
.col-2 {
  border-radius: 25px;
  color: var(--lightgrey);
  margin: auto;
}
.cta-container .cta-title {
  font-size: 2rem;
  margin: 15px 0;
}
.cta-container .cta-body {
  font-size: 1rem;
  font-weight: 350;

  width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cta-container .cta-btn {
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  padding: 10px 25px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  opacity: 0.9;
  transition: all 0.5s ease;
}
.cta-container .cta-btn:hover {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  opacity: 1;
}
@media (max-width: 1100px) {
  .cta-container {
    padding: 20px 30px;
  }

   .iframe {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 800px) {
  .cta-container {
    padding: 20px 25px;
  }

  .iframe {
    width: 100%;
    height: auto;
  }
}
