.cards {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin: 0 145px;

}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: auto;
  background-color: var(--white);
  padding: 20px;
  border: 1px solid transparent;
  margin: 5px;
  border-bottom: 4px solid var(--secondary);
}

.card-icon {
  font-size: 1.8rem;
  color: var(--primary);
}

.card-title {
  font-size: 1.1rem;
  margin: 5px 0;
  color: var(--dark);
}

.card-text {
  font-size: 15px;
  color: var(--lightgrey);
}

.card:hover {
  border: 1px solid #e5e5e5;
  border-bottom: 6px solid rgba(231 , 90 ,8);
}
.card:hover .card-icon {
  color:  rgba(231 , 90 ,8);
}
.card:hover .card-title {
  color: var(--primary);

}

@media (max-width: 1100px) {
  .cards {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .cards {
    margin: 5px 25px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin: 5px 10px;
  }
}
