.portfolio-container {
  margin: 10px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-color: var(--white);
  padding: 10px 5px;
}

.portfolio-header {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 50px;
  color: var(--dark);
}

.portfolio-text {
  font-size: 1rem;
  text-align: center;
  color: var(--dark);
  margin: 20px 0;
  padding: 0 30px;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio {
  width: 330px;
  height: 300px;
  position: relative;
  margin: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.portfolio-details {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.portfolio-details:hover {
  opacity: 1;
}

.fa-search-plus {
  font-size: 2rem;
  color: var(--dark);
}

.fa-search-plus:hover {
  color: #000;
  transition: color 1s ease;
}

.portfolio-zoom {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100%;
  height: 0px;
  background: rgb(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.portfolio-zoom.show {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  z-index: 10;
}

.portfolio-zoom .fa-times-circle {
  display: none;
}

.portfolio-zoom.show .fa-times-circle {
  display: block;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 2rem;
  color: var(--lightgrey);
  cursor: pointer;
}

.portfolio-zoom.show .fa-times-circle:hover {
  color: #000;
}

.portfolio-zoom img {
  width: 75%;
  object-fit: cover;
  z-index: 11;
}

@media (max-width: 1100px) {
  .portfolio-container {
    margin: 10px 30px;
  }

  .portfolio-zoom img {
    width: 80%;
    object-fit: contain;
    z-index: 11;
  }
}

@media (max-width: 800px) {
  .portfolio-container {
    margin: 10px 25px;
  }

  .portfolio-zoom img {
    width: 80%;
    z-index: 11;
  }

  .portfolio-zoom.show .fa-times-circle {
    right: 10px;
    font-size: 1.2rem;
  }

  .portfolio {
    width: 330px;
    height: auto;
  }
}

@media (max-width: 600px) {
  .portfolio {
    width: auto;
    height: auto;
  }
}
