.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
}
.services-container .title {
  font-size: 2rem;
  color: var(--dark);
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.services-container .description {
  font-size: 1rem;
  color: #444;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 10px;
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: 0 110px;
}
.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: var(--white);
  padding: 20px;
  width: 330px;
  height: 330px;
  border: 1px solid transparent;
  margin: 10px;
}
.service-card .card-icon {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
}
.service-card .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 15px;
  margin-top: 20px;
}
.service-card .card-text {
  font-size: 15px;
  color: #555;
  text-align: center;
}
.service-card:hover {
  border: 1px solid #e5e5e5;
}
.service-card:hover .card-title {
  color: var(--icons);
}
@media (max-width: 1100px) {
  .services {
    margin: 0 5px;
  }
  .service-card {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .services {
    margin: 0px 5px;
  }
  .service-card {
    width: 330px;
    height: 330px;
  }
}
@media (max-width: 700px) {
  .service-card {
    width: 100%;
    margin-bottom: 10px;
  }
}
