.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  background-color: var(--primary);
}
.services-container .title {
  padding-top: 15px;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.services-container .description {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 10px;
}

.services-btn {
  border: none;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: var(--white);
  padding: 20px;
  width: 135px;
  height: 37px;
  border: 1px solid transparent;
  margin: 10px;
}

.services-btn.active {
    border: 3px solid black;
}

.services-btn:hover {
  cursor: pointer;
  background-color: #FF9464;
  box-shadow: 5px 7px gray;
}

.services-btn .card-title {
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  color: var(--dark);
}

.services-btn:hover .card-title {
  color: var(--icons);
}

.services-btn i {
  visibility: hidden;
  position: relative;
  top: 5px;
  bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 4px;
  align-items: center;
}

.arrow-down .fa{
  /* display: flex; */
  justify-content: space-between;
  flex-direction: column;
  margin: -15px 75px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary);
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.services-btn:hover {
  cursor: pointer;
    background-color: #FF9464;
    box-shadow: 5px 7px rgba(22,33,76,0.8);
}

@media (max-width: 1100px) {
  .services {
    margin: 0 5px;
  }
  .services-btn {
    width: 55px;
    height: 55px;
  }
  .services-btn .card-title {
    visibility: hidden;
  }
  .services-btn i {
    visibility: visible;
  }
}
@media (max-width: 768px) {
  .services {
    margin: 0px 5px;
  }
  .services-btn {
    width: 55px;
    height: 55px;
  }
  .services-btn .card-title {
    visibility: hidden;
  }
  .services-btn i {
    font-size: 16px;
    position: relative;
    top: 15px;
  }
}
@media (max-width: 700px) {
  .service-card {
    width: 100%;
    margin-bottom: 10px;
  }
}