.data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 150px;
  overflow: none;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  width: 100%;
  height: 130px;
  text-align: center;
}

.counter-number {
  font-size: 2rem;
  color: var(--primary);
}

.counter-title {
  color: var(--dark);
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0 10px;
}

@media (max-width: 1100px) {
  .data-container {
    margin: 15px 30px;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .data-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-column-gap: 0;
    margin: 15px 25px;
  }

  .counter {
    width: 100%;
  }
}
