.team-container {
  margin: 50px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-container .team-header {
  text-align: center;
}

.team-container .team-header .team-title {
  color: var(--dark);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.team-container .team-header .team-description {
  margin-bottom: 10px;
  color: var(--dark);
}
.team-container .team-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.team-card {
  padding: 20px;
  width: 320px;
  background-color: var(--white);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-card img {
  height: 280px;
  width: 100%;
  background: var(--lightgrey);
  object-fit: contain;
  margin-bottom: 10px;
  padding-top: 10px;
}
.team-card .team-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 130px;
}
.team-card .t-title {
  font-weight: 660;
}
.team-card .t-work {
  font-style: italic;
  font-size: 14px;
  color: #444;
}
.team-card .t-description {
  font-size: 14px;
  color: var(--lightgrey);
  font-style: italic;
}
.team-card .team-social-icons {
  margin-top: 15px;
}
.team-card .team-social-icons i {
  margin: 5px 5px;
  font-size: 1.3rem;
  color: var(--dark);
  cursor: pointer;
}
.team-card .team-social-icons i:hover {
  color: var(--primary);
}
@media (max-width: 1100px) {
  .team-container {
    margin: 60px 20px;
  }
  .team-container .team-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .team-container {
    margin: 60px 30px;
  }
  .team-card {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}
